body{
    padding: 0px;
    margin: 0px;
    padding-top: 50px;
    overflow-y: auto;
}
h1 {
    color: #231D1A;
    font-size: 20px;
    font-family: monospace;
    /* overflow: hidden; */
    font-size: 20px;
    margin: 0px;
    padding: 30px;
    line-height: 1;
}

h2 {
    color: #6c5951;
    font-family: monospace;
    font-size: 16px;
    margin-left: 50px;
    padding: 20px;
}
ul {
    list-style-type: circle; /* Options: disc, circle, square, none */
}

button{
    font-family: monospace;
    font-size: 15px;
    background-color: #e2dedc;
    color: #6c5951;
    border: 1px #988b85;
    padding: 10px;
    border-radius: 5px;
    margin: 30px;
    margin-top: 0px;
}

h2:hover{
    color: #201b18;
    /* text-decoration: underline; */
    transition: 0.5s ease-in-out;
}
a:link {
    background-color: transparent;
    text-decoration: none;
  }
.project-columns{
    background-color: #DEDBE6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: nav-bar;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #DEDBE6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.name-logo {
    padding: 20px;
    font-size: xx-large;
    font-family: monospace;

}
.nav-item {
    padding: 10px;
}
.nav-item-selected {
    padding: 10px;
    color: 201b18;
    text-decoration: underline;
}

#toggle-menu {
    display: none;
}
.burger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* https://stackoverflow.com/questions/13337646/scroll-inside-of-a-fixed-sidebar */
.top-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50px;
    height: calc(100vh - 50px);
    width: 300px;
}
.center-div {
    background-color: #DEDBE6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50px;
    height: calc(100vh - 50px);
    width: 300px;
}
.bottom-div {
    background-color: #DEDBE6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50px;
    height: calc(100vh - 50px);
    width: 300px;
}

.center-content {
    margin-top: 500px;
    margin-bottom: 150px;
}

.nav-options{
    position: relative;
    display: flex;
    flex-direction: row;
}
.center-text{
    padding: 20px;
    font-family: monospace;
    font-size: large;
    color: #7b7775;
    padding-top: 10px;
}
.large-text{
    padding: 20px;
    font-size: 60px;
}
.medium-text{
    padding: 10px;
    padding-left: 20px;
    font-size: 30px;
    color: #534f4d;

}
.resume-item{
    padding: 10px;
    padding-left: 20px;
    font-size: x-large;
    color: #534f4d;
    font-family: monospace;
}
.resume-subitem{
    padding: 5px;
    font-size: medium;
    color: #7b7775;
    font-family: monospace;
    list-style-type: none;
    margin-bottom: 10px;
}
.project-photo{
    width: 300px;
    margin: 0px;
}

@media(max-width: 800px) {

    .center-content {
        margin-top: 100px;
        margin-bottom: 150px;
    }

    h2{
        font-size:x-large;
    }

    .name-logo {
        padding: 20px;
        font-size: large;
    }
    .center-text{
        font-size: x-large;
    }
    .resume-item{
        font-size: x-large;
    }
    .resume-subitem{
        font-size: large;
    }
    /* https://dev.to/shubhamtiwari909/responsive-navbar-without-javascript-3p7o */
    .burger {
        display: block;
    }
    .nav-options{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #ccc9d6;
    }

    #toggle-menu:checked + .burger + .nav-options {
        display: flex;
    }

    .nav-item {
        padding: 0px;
        text-align: center;
        border: 1px solid #6c5951;

    }
}
