body{
    padding: 0px;
    margin: 0px;
    padding-top: 50px;
    overflow-y: auto;
}
h1 {
    color: #231D1A;
    font-size: 20px;
    font-family: monospace;
    /* overflow: hidden; */
    font-size: 20px;
    margin: 0px;
    padding: 30px;
    line-height: 1;
}

h2 {
    color: #6c5951;
    font-family: monospace;
    font-size: 16px;
    margin-left: 50px;
    padding: 20px;
}
ul {
    list-style-type: circle; /* Options: disc, circle, square, none */
}

button{
    font-family: monospace;
    font-size: 15px;
    background-color: #e2dedc;
    color: #6c5951;
    border: 1px #988b85 solid;
    padding: 10px;
    border-radius: 5px;
    margin: 30px;
    margin-top: 0px;
}

h2:hover{
    color: #201b18;
    /* text-decoration: underline; */
    transition: 0.5s ease-in-out;
}
a:link {
    background-color: transparent;
    text-decoration: none;
  }

.grid-container {
    background-color: #DEDBE6;
    display: grid;
    grid-template-areas:
        "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
        "left-panel center-panel center-panel center-panel center-panel right-panel"
        "left-panel center-panel center-panel center-panel center-panel right-panel"
        "left-panel center-panel center-panel center-panel center-panel right-panel"
        "left-panel center-panel center-panel center-panel center-panel right-panel"
    ;
}

.nav-bar {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: nav-bar;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #DEDBE6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.name-logo {
    padding: 20px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-item {
    padding: 10px;
}
.nav-item-selected {
    padding: 10px;
    color: #201b18;
    text-decoration: underline;
}

#toggle-menu {
    display: none;
}
.burger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* https://stackoverflow.com/questions/13337646/scroll-inside-of-a-fixed-sidebar */
.left-panel {
    grid-area: left-panel;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
}
.center-panel {
    display: flex;
    grid-area: center-panel;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    overflow-y: auto;
    padding: 20px;
    margin-top: 0px;
    padding-top: 50px;
}

.center-content {
    margin-top: 500px;
    margin-bottom: 150px;
}

.nav-options{
    position: relative;
    display: flex;
    flex-direction: row;
}
.center-text{
    padding: 20px;
    font-family: monospace;
    font-size: large;
    color: #7b7775;
    padding-top: 10px;
}
.large-text{
    padding: 20px;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.medium-text{
    padding: 10px;
    padding-left: 20px;
    font-size: 30px;
    color: #534f4d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.resume-item{
    padding: 10px;
    padding-left: 20px;
    font-size: x-large;
    color: #534f4d;
    font-family: monospace;
}
.resume-subitem{
    padding-left: 50px;
    font-size: medium;
    color: #7b7775;
    font-family: monospace;
    list-style-type: none;
    margin-bottom: 10px;
}
#bioPhoto {
    width: 250px;
    margin: 50px;
}

@media(max-width: 1000px) {
    .grid-container {
        grid-template-areas:
            "nav-bar"
            "center-panel"
            "center-panel"
            "center-panel"
            "center-panel";
    }

    .left-panel {
        display: none;
    }
    .right-panel {
        display: none;
    }

    .center-panel {
        height: auto;
        padding: 10px;
    }

    .center-content {
        margin-top: 100px;
        margin-bottom: 150px;
    }

    h2{
        font-size:x-large;
    }

    .name-logo {
        padding: 20px;
        font-size: large;
    }
    .center-text{
        font-size: x-large;
    }
    .resume-item{
        font-size: x-large;
    }
    .resume-subitem{
        font-size: large;
    }
    /* https://dev.to/shubhamtiwari909/responsive-navbar-without-javascript-3p7o */
    .burger {
        display: block;
    }
    .nav-options{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #ccc9d6;
    }

    #toggle-menu:checked + .burger + .nav-options {
        display: flex;
    }

    .nav-item {
        padding: 0px;
        text-align: center;
        border: 1px solid #6c5951;

    }
}
